includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/

    # Level 8 is what we're aiming for
    level: 8

    ignoreErrors:
        # Ignore missingType.iterableValue errors globally
        - '#no value type specified in iterable type array#'
